<!-- This is primarily code from the simple_calendar gem, under lib/simple_calendar/calendar.rb -->

<div class="simple-calendar" data-controller="calendar" data-calendar-availability-count-value="true">
  <div class="calendar-heading">
    <div class="calendar-title">
      <span class="font--semibold"><%= l(start_date, format: :month) %></span>
      <span class="font--light"><%= l(start_date, format: :year) %></span>
    </div>

    <div class="hidden--medium-down display--flex align-items--center">
      <div class="display--flex align-items--center" data-controller="tooltip" data-tooltip-content-value="Total Scheduled">
        <span class="mr--3 dot -dot-size--5 dot--booked"></span>
        <span class="mr--5 font--semibold" data-calendar-target="bookedCount">0</span>
      </div>

      <div class="display--flex align-items--center" data-controller="tooltip" data-tooltip-content-value="Total Available">
        <span class="mr--3 dot -dot-size--5 dot--available"></span>
        <span class="mr--5 font--semibold" data-calendar-target="availableCount">0</span>
      </div>

      <div class="display--flex align-items--center" data-controller="tooltip" data-tooltip-content-value="Total Unavailable">
        <span class="mr--3 dot -dot-size--5 dot--unavailable"></span>
        <span class="mr--5 font--semibold" data-calendar-target="unavailableCount">0</span>
      </div>
    </div>

    <div>
      <%= link_to calendar.url_for_previous_view, class: 'button button--white br--3px -font-size--1 mr--2' do %>
        <i class="fas fa-sm fa-chevron-left"></i>
      <% end %>
      <%= link_to 'Today', availabilities_path, class: 'button button--white br--3px -font-size--1 mr--2' %>
      <%= link_to calendar.url_for_next_view, class: 'button button--white br--3px -font-size--1 mr--2' do %>
        <i class="fas fa-sm fa-chevron-right"></i>
      <% end %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) + sorted_events.fetch(day, []).map { |a| "calendar__availability--#{a.availability_type}" } do %>
              <% passed_block.call day, sorted_events.fetch(day, []) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
